body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: myConsolas;
  src: url(./font/Ubuntu/Ubuntu-Regular.ttf);
}

#code-area {
  font-family: myConsolas;
}